$primary-color: #1b1a17;
$secondary-color: #232523;
$font-color: #ffffff;
$font-second-color: #969696;
$button-color: #5429ff;
$info: #3697f1;
$success: #4db09b;
$warning: #ffbe5c;
$danger: #dc3545;
$utility: #9a63d1;
