@import '../theme.scss';

.bj-breadcrumbs {
	&-crumb {
		font-size: 15px;
		padding: 5px;
		text-decoration: none;
		color: $font-color;
		cursor: pointer;
		transition: 0.3s;
		&--disabled {
			filter: brightness(0.5);
			cursor: default;

			&:hover {
				filter: brightness(0.5) !important;
			}
		}

		&:hover {
			filter: brightness(0.6);
			transition: 0.3s;
		}

		& > img {
			margin: 0 10px;
			max-width: 100%;
		}
	}

	&-separator {
		color: darken($font-color, 50%);
		font-size: 15px;
	}
}
